*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{


    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

header{

    background-color:white;
    text-align: center;
    padding: 20px;
    background-image:url(IMAGENES/definitive.jpg);
    


}

nav a{

    text-decoration: none;
    display: inline-block;
    color:forestgreen;
    font-weight: 600;
    margin: 25px;
    padding: 5px 15px;
    border-radius: 30px;

}

nav a:hover{

    background-color:black;
    color: forestgreen;

}

.encabezado-imagen{

    
    height: 400px;
    width: 100%;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado-imagen p{
    font-size: 20px;
    color: white;
}

.encabezado-imagen h1{

    color: green;
    font-size: 50px;

}
